<article>
  <div class="about-content">
      <div class="feature-banner">
          <h1>
        Dustin Waggoner is an aspiring software engineer, lover of AngularJS, certified Scrum Master, devoted learner, and customer satisfaction professional,
        based in Seattle, WA
      </h1>
      </div>
      <p>
          Currently I am pursuing my goal to become a kickass developer. As a former 4.0 graduate in IT and now a student at Bloc.io, I am making this goal a reality. When I'm not hacking at the world, I love gaming, trivia, board games, and the outdoors.
      </p>
      <div class="aboutme-image">
          <img src="/assets/images/fishing-photo.jpg" alt="aboutme-pic" />
      </div>
      <h2>Work Experience</h2>
      <ul class='work-experience'>
          <li>
              <strong class="experience-dates">Experience Date Here</strong>
              <p></p>
              <h3>Communication Technician, Comcast Corp.</h3>
              <p class="big">Here is my big paragraph</p>
              <p class="small">Here is my small paragraph</p>
          </li>
          <li>
              <strong class="experience-dates">Experience Date Here</strong>
              <p></p>
              <h3>Communication Technician, Comcast Corp.</h3>
              <p class="big">Here is my big paragraph</p>
              <p class="small">Here is my small paragraph</p>
          </li>
      </ul>
  </div>
</article>
