<article>
  <div class="about-content">
      <div class="feature-banner">
          <h1>
        Dustin Waggoner is an aspiring software engineer, lover of AngularJS, certified Scrum Master, devoted learner, and customer satisfaction professional,
        based in Seattle, WA
      </h1>
      </div>
      <p>
          Currently I am pursuing my goal to become a kickass developer. As a former 4.0 graduate in IT and now a student at Bloc.io, I am making this goal a reality. When I'm not hacking at the world, I love gaming, trivia, board games, and the outdoors.
      </p>
      <div class="aboutme-image">
          <img src="/assets/images/fishing-photo.jpg" alt="aboutme-pic" />
      </div>
      <h2>Work Experience</h2>
      <ul class='work-experience'>
          <li>
              <strong class="experience-dates">September 2008 to Present</strong>
              <p></p>
              <h3>Communication Technician, Comcast Corp.</h3>
              <p class="big">Here is my big paragraph</p>
              <p class="small">Here is my small paragraph</p>
          </li>
          <li>
              <strong class="experience-dates">Summers of 2009 to 2013</strong>
              <p></p>
              <h3>Communication Technician, Comcast Corp.</h3>
              <p class="big">Here is my big paragraph</p>
              <p class="small">Here is my small paragraph</p>
          </li>
          <li>
              <strong class="experience-dates">September 2006 to 2008</strong>
              <p></p>
              <h3>Communication Technician, Comcast Corp.</h3>
              <p class="big">Here is my big paragraph</p>
              <p class="small">Here is my small paragraph</p>
          </li>
      </ul>
      <h2>Education &amp; Certifications</h2>
      <div class="education-history">
        <ul ng-mouseover="hover = true" ng-mouseleave="hover = false">
          <li class="date-item">
        		<em><br />
        			2012-2015<br />
        		</em>
        	</li>
          <li>
            <h3 class="education-title">
              University of Phoenix
            </h3>
          </li>
        </ul>
        <ul>
          <li class="date-item">
            <em><br />
              2012-2015<br />
            </em>
          </li>
          <li>
            <h3 class="education-title">
              University of Phoenix
            </h3>
          </li>
        </ul>
        <ul>
          <li class="date-item">
            <em><br />
              2012-2015<br />
            </em>
          </li>
          <li>
            <h3 class="education-title">
              University of Phoenix
            </h3>
          </li>
        </ul>
        <ul>
          <li class="date-item">
            <em><br />
              2012-2015<br />
            </em>
          </li>
          <li>
            <h3 class="education-title">
              University of Phoenix
            </h3>
          </li>
        </ul>
      </div>
  </div>
</article>
<section class="hobby about-hobby">
  <h1>Where Else You Can Find Me?</h1>
  <p>
    If I'm on Xbox, that means I'm crushing my enemies; just message gamertag "<strong class="strong-odd">Frozen Meatloaf</strong>!"  I'm available via <a href="https://www.facebook.com/dustin.waggoner.9"><strong class="strong-even">FaceBook</strong></a> and attend regular <a href="https://www.meetup.com/members/199502280/"><strong class="strong-odd">Meetups</strong></a> in the Seattle/Tacoma, WA area.  Connect with me on <a href="https://www.linkedin.com/in/dustinwaggoner
"><strong class="strong-even">LinkedIn</strong></a> or directly contact me by <a href="mailto:dustinwaggoner@comcast.net"><strong class="strong-odd">email</strong></a>.
  </p>
</section>
