<div class="contact-content">
  <h1 class="email-title"><span class="ion-ios-email-outline"></span> <a href="mailto:dustinwaggoner@comcast.net">dustinwaggoner@comcast.net</a></h1>
  <div class="contact-board">
    <div class="ionic-icons">
      <a href="https://www.facebook.com/dustin.waggoner.9" class="ionic-image" id="facebook-icon"><span class="ion-social-facebook"></span></a>
      <a href="https://www.linkedin.com/in/dustinwaggoner" class="ionic-image" id="linkedin-icon"><span class="ion-social-linkedin"></span></a>
      <a href="https://github.com/FrozenMeatloaf" class="ionic-image" id="github-icon"><span class="ion-social-github"></span></a>
      <a href="https://www.instagram.com/dustinwaggoner2285/?hl=en" class="ionic-image" id="instagram-icon"><span class="ion-social-instagram"></span></a>
    </div>
    <ul class="icon-list">
      <li>
        <a href="https://www.facebook.com/dustin.waggoner.9">Facebook</a>
        <p>Feel free to view my personal Facebook page and message me through it.  Many of my photos demonstrate who I am as a person, inside and outside of the workplace.</p>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/dustinwaggoner">LinkedIn</a>
        <p>Browse my personal LinkedIn page.  Here you can view my resume, achievements, and professional experiences.  Feel free to network or message me here.</p>
      </li>
      <li>
        <a href="https://github.com/FrozenMeatloaf">Github</a>
        <p>Enjoy viewing my project portfolio from Github.  The majority of my projects I have worked on appear here.  Projects consist of Ruby, Javascript, and AngularJS functionality</p>
      </li>
      <li>
        <a href="https://www.instagram.com/dustinwaggoner2285/?hl=en">Instagram</a>
        <p>I am fairly new to the Instagram scene.  However, I enjoy it's many abilities to quickly manipulate photos.  I suspect in the long run I will be using Instagram for photography purposes.  Feel free to enjoy my photos as I slowly add them here.</p>
      </li>
    </ul>
  </div>
</div>
